body{
    background-color:rgba(213, 223, 158, 0.657);
}
.clock{
   height: 400px;
   width:400px;
   border: 20px solid plum;
    border-radius: 400px 400px 400px;
    margin: 15%;
    box-shadow:15px 30px 45px aqua;
}
.line1
{    border: 1px solid black;
    height: 1%;
    width: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 51%;
    border-radius: 39%;
    transform-origin: bottom right;
    /* animation: sec 30s linear infinite; */
    animation: sec 30s steps(30,end) infinite;
}
.line2
{
    border: 2px solid black;
    height: 38%;
    width: 1%;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 49%;
    top: 11.9%;
    border-radius: 50%;
    transform-origin: bottom right;
    /* animation: sec 600s linear infinite; */
    animation: sec 600s linear infinite;
}
.line3
{
    order: 2px solid black;
    height: 45%;
    width: 2%;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 34%;
    left: 47%;
    transform: rotate(40deg);
    border-radius: 50%;
    transform-origin: bottom right;
    animation: sec 6000s linear infinite;
}
 h2{
    text-align: center;
    top:40%;
    /* border:400%; */
    padding-top:10%;
    /* bottom:50%; */
    /* bottom:50%; */
   /* bottom:50%;
    /* top: 50%; */
     /* margin: 50%;  */
}
@keyframes sec{
    from{transform: rotate(0deg);
    } 
    to{transform:rotate(360deg)}
  }
  .dot
  {
    border: 2px solid black;
    background-color: black;
    width: 8px;
    height: 8px;
    border-radius: 15px;
    position: relative;
    bottom: 35%;
    left: 49%;
  }